
<% provide(:title, "Ebit user") %>
<h1>Update staffs profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <!--formの送信先を指定-->

    <%= form_for(users_form_edit_path) do |f| %>


      <!--form作成-->

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :text %>
      <%= f.text_field :text, class: 'form-control' %>
      
      <%= f.submit "update staffs accounts", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>