
<div class="top-nav">
  <a class="brand-logo">SALON</a>
  <div id="nav-mobile" class="right hide-on-med-and-down"><a class="waves-effect waves-light btn", href="https://beauty.hotpepper.jp/svcSA/">➕ WEB予約</a>
</div>
  </div>

<header>
  <div class="imgs">
    <div class="slider">
        <%# <%= image_tag 'img1' %>
        <%# <%= image_tag 'img2' %> %>
        <%# <%= image_tag 'img3' %> %> %>
    </div>
  </div>
</header>
<body>
  <div class="menu", id="menu-jump">
    <div class="menu__container">
      <div class="menu-top">
        <div class="line"></div>
        <h2>MENU</h2>
      </div>
      <div class="menu-grid">
        <div class="row">
          <div class="col s6">
            <div class="menu-name">
              <h3 class="menu-name__name">CUT</h3><span class="menu-name__last">(カット）</span>
            </div>
            <dl>
              <dt>カット</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>jrカット</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>スクールカット</dt>
              <dd>¥ 4,400</dd>
            </dl>
          </div>
          <div class="col s6">
            <div class="menu-name">
              <h3 class="menu-name__name">COLOR</h3><span class="menu-name__last">（カラー）</span>
            </div>
            <dl>
              <dt>リタッチ</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>フルカラー</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>白髪染め</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>ハーブカラー</dt>
              <dd>¥ 4,400</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="menu-name">
              <h3 class="menu-name__name">PERM</h3><span class="menu-name__last">（パーマ）</span>
            </div>
            <dl>
              <dt>ポイントパーマ</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>パーマ</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>特殊パーマ</dt>
              <dd>¥ 4,400</dd>
            </dl>
          </div>
          <div class="col s6">
            <div class="menu-name">
              <h3 class="menu-name__name">STRAIGHTEING</h3><span class="menu-name__last">(縮毛矯正）</span>
            </div>
            <dl>
              <dt>milk縮毛矯正</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>ポイントストレート</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>縮毛矯正＋デジタルパー</dt>
              <dd>¥ 4,400</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="menu-name">
              <h3 class="menu-name__name">OTHER</h3><span class="menu-name__last">(その他）</span>
            </div>
            <dl>
              <dt>トリートメント</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>ヘッドスパ</dt>
              <dd>¥ 4,400</dd>
            </dl>
            <dl>
              <dt>シャンプー&ブロー</dt>
              <dd>¥ 4,400</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="staff", id="staff-jump">
    <div class="staff__container">
      <div class="staff-top">
        <div class="line"></div>
        <h2>STAFF</h2>
      </div>
      <div class="staff1">
        <%# <div class="staff-image"><%= image_tag @staff[0]['image'] %></div> %>
        <div class="staff1__box">
          <%# <h4 class="name"><%= @staff[0]['name'] %> <h4> %>
          <%# <div class="name-info"><%= @staff[0]['text'] %> %>
          </div>
        </div>
      </div>
      <div class="staff1">
        <%# <div class="staff-image"><%= image_tag @staff[1]['image'] %></div> %>
        <div class="staff1__box">
          <%# <h4 class="name"><%= @staff[1]['name'] %></h4> %>
          <div class="name-info">
          <%# <%= @staff[1]['text'] %> %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="access", id="access-jump">
    <div class="access__container">
      <div class="access-top">
        <div class="line"></div>
        <h2>ACCESS</h2>
      </div>
      <div class="access__info">
        <div class="access__info__info">
          <dl>
              <dt>住所</dt>
              <dd>〒342-0041<br>埼玉県吉川市保1-19-12 ラ・ボンボニエール吉川 1-B</dd>
          </dl>
          <dl>
              <dt>電話番号</dt>
              <dd>048-973-7351</dd>
          </dl>
          <dl>
              <dt>営業時間</dt>
              <dd>9：30～19：30（カット最終受付18：30）</dd>
          </dl>
          <dl>
              <dt>定休日</dt>
              <dd>毎週火曜日定休</dd>
          </dl>
          <dl>
              <dt>アクセス</dt>
              <dd>吉川駅北口を出て、ロータリーを右沿いに歩きライフ吉川駅北口店方面へ直進します。ライフ吉川店を過ぎた交差点の左角にFrames吉川店があります。</dd>
          </dl>
        </div>
        <div class="access__map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.7741072932326!2d139.8414867148788!3d35.8790522267055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601897433979df43%3A0xcf769c6f713a67f6!2zRnJhbWVzIGhhaXImcmVsYXgg5ZCJ5bed77yI44OV44Os44Kk44Og44K5IOODmOOCouODvO-8huODquODqeODg-OCr-OCue-8iQ!5e0!3m2!1sja!2sjp!4v1568440365622!5m2!1sja!2sjp" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</body>