<div class="profile">
  <div class="profile-top">
    <h1>staff編集</h1>
  </div>
  スタッフ１
  <div class="profile-edit">
    <%= form_tag("/staff/profiles/update") do %>
      <div class="edit-image">
        写真
        <div class="staff-image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy4Y3dWIwPIGh8G7h87NcUkuJxyRgBQES57y6XRrlp3Ee9PZfFbQ"></div>
      </div>
      <div class="edit-name">
        名前
        <h4 class="name1"><%= @staff[0]['name'] %><h4>
      </div>
      <div class="edit-info">
        紹介文
        <textarea name="content">
          <%= @staff[0]['text'] %>
        </textarea>
      </div>
    <input type="submit" value="保存">
    <% end %>
  </div>
  スタッフ２
  <div class="profile-edit">
    <div class="edit-image">
      写真
      <div class="staff-image"><img src="https://www.silhouette-illust.com/wp-content/uploads/2017/09/jinbutsu_female_40164-300x300.jpg"></div>
    </div>
    <div class="edit-name">
      名前
      <h4 class="name2"><%= @staff[1]['name'] %><h4>
    </div>
    <div class="edit-info">
      紹介文
      <%= @staff[1]['text'] %>
    </div>
  </div>
</div>